@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'JetBrainsFont';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  transition: width,color,background 0.3s ease-in-out;
}
html.dark img{
  filter: brightness(0.8);
}
body{
  font-family: 'JetBrainsFont', sans-serif;
  -webkit-font-smoothing: antialiased;
}


@layer base {
  :root {
    --padding: 10px;
  }
  h1 { @apply text-2xl; }
  h2 { @apply text-xl; }
  h3 { @apply text-lg; }
  a:hover { @apply text-primary; }

  .text-color-brand { @apply text-primary }
  .text-color-content { @apply text-black }
  .text-color-primary {
    color: rgba(22, 25, 27, 1);
  }
  .text-color-secondary {
    color: rgba(0, 0, 0, 0.6);
  }
  .text-color-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  .text-color-disabled {
    color: rgba(0, 0, 0, 0.26);
  }

  html.dark {
    .text-color-brand { @apply text-primary-content }
    .text-color-content { color: rgba(205,225,255, 0.9); }
    .text-color-primary {
      color: rgba(205,225,255, 1);
    }
    .text-color-secondary {
      color: rgba(205,225,255, 0.55);
    }
    .text-color-placeholder {
      color: rgba(205,225,255, 0.35);
    }
    .text-color-disabled {
      color: rgba(205,225,255, 0.22);
    }
  }

}


@layer components {
  .flex-row-xy-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-row-y-center {
    @apply flex flex-row items-center;
  }

  /*导航和主体内容相邻则设置上边距*/
  .navbar + .main-container {
    @apply p-0;
    margin-top: calc(4rem + var(--padding));
  }
  .navbar ~ .main-container{
    .sidebar {
      @apply sticky;
      top: calc(4rem + var(--padding));
    }
  }

  .navbar + .lzj-page {
    padding-top: calc(4rem + 10px);
  }
}